# Ignore Python virtual environments
stock-venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# VSCode settings (optional)
.vscode/

# OS files
.DS_Store

__pycache__/
*.pyc
*.pyo
*.pyd
stock-venv/
.env
